/*
Author Meta

.media.author-meta - .
.media.author-meta.author-meta--stacked - Items are stacked

markup:
<div class="{$modifiers}">
    <div class="media__subject">
      <sg-insert>3.12-2</sg-insert>
    </div>
    <div class="media__body">
        <p><a href="javascript:void();">Firstname Lastname</a></p>
        <p class="txt--meta">Job title</p>
    </div>
</div>

Styleguide 4.12
*/

// .author {
// }
// .author-meta {
// }

.author-meta {
  .media__body {
    padding-left: rhythm();
  }
  &--stacked {
    .media__body {
      padding-left: 0;
    }
    &.media {
      flex-direction: column;
      align-items: flex-start;
      .avatar {
        margin-bottom: rhythm();
      }
    }
  }
}
