/*
Author Meta

markup:
<sg-insert>3.8.1-2</sg-insert>
<div class="author-meta">Firstname Lastname</div>

Styleguide 4.12
*/

.author-meta {
  margin:10px;
}

.author-meta .text {
  overflow: hidden;
  _overflow:visible;
  zoom:1;
}

.author-meta .avatar {
  float: left;
  margin-right:10px;
}

.author-meta .avatar{
  display:block;
}

.author-meta .avatarExt {
  float:right;
  margin-left: 10px;
}
// change Font-color according to background
$bg-color: #FFFFFF;


@function define-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

.author-meta {
  .box--trust & {
      color: define-text-color( mix($teemr-blue, $color-highlight, 80%) );
  }
  .box--light & {
      color: define-text-color( mix($color-highlight, $color-shadow, 95%) );
  }
}
