/*
Author Meta

.media-object - for normal avatars 63 x 63 pixels

markup:
<div class="{$modifiers}">
    <sg-insert>3.12.1-2</sg-insert>
    <p class="author-meta">Firstname Lastname <br />
    <span class="author-text"> This is my job</span></p>
</div>
<div class="{$modifiers}">
    <sg-insert>3.12-2</sg-insert>
    <p class="author-meta">Firstname Lastname <br />
    <span class="author-text"> This is my job</span></p>
</div>

Styleguide 4.12
*/
.media-object {
    display: inline-block;
    .author-meta {
        vertical-align: middle;
    }
    .avatar {
        margin-right: 5px;
        float: left;
    }
}

/*
Author Meta small

.media-object.media-object--s - for small avatars  21 x 21 pixels

markup:
<div class="{$modifiers}">
    <sg-insert>3.12.1-1</sg-insert>
    <p>Firstname Lastname</p>
</div>
<div class="{$modifiers}">
    <sg-insert>3.12-1</sg-insert>
    <p>Firstname Lastname </p>
</div>
<div class="{$modifiers}">
    <sg-insert>3.12.1-1</sg-insert>
    <p>and 2035 others</p>
</div>

Styleguide 4.12.1
*/

.media-object--s,
.media-object {
    width: 100%;
}
.media-object--s {
    display: inline;
    font-size: $font-size--xs;
}