/*
Notification

.notification - Notification bar

markup:
<div class="{$modifiers}">{$modifiers}</div>

Styleguide 4.13
*/

.notification {
	text-align: center;
	width: 100%;
	background: $color-growth--01;
	font-size: $font-size--l;
	a {
		font-size: to-unit(14px);
	}
}

.notification {
	.button {
		background: $white;
	}
}