/*
Posts

.post--title - Post title
.post--date - Post date

markup:
<div class="{$modifiers}">{$modifiers}</div>

Styleguide 4.11
*/

.post--title {
	font-size: to-unit(20px);
	line-height: rhythm(5);
}

.post--date {
	@extend .txt--whisper;
}
