/*
Post

.post - .
.post.post--has-cover - .

markup:
<div class="{$modifiers}">{$modifiers}</div>

Styleguide 4.11
*/

/*
 * 1. Lift on top of overlay
 */
.post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: rhythm(6) 0;
  &--has-cover {
    position: relative;
    color: #FFF;
    min-height: rhythm(60); /* Add breakpoints */
    background: $black no-repeat center;
    background-size: cover;
    &:after {
      content: "";
      display: block;
      background: rgba(0,0,0,.5);
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
    .txt--meta {
      color: $white;
    }
  }
  &--has-cover &__child {
    position: relative; /* 1. */
    z-index: 1; /* 1. */
  }
  &__body {
    flex-grow: 1;
  }
  &__summary,
  &__footer {
    margin-bottom: rhythm(2);
  }
}
