/*
Tile

What it looks like when you look at your own personal profile.

markup:
<div class="tile tile--edit">
	<img class="avatar avatar--l" src="https://images.unsplash.com/photo-1457986811718-8254e452e199?fit=crop&w=320&h=320&q=80" />
	<p class="h-paragraph tile--name">Pete McCormick</p>
	<span class="icon is-disabled">
		<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-star"></use></svg>
		<span class="icon__label">202</span>
	</span>	
	<p class="txt--meta">Urban Photography</p>
</div>

Styleguide 4.1
*/

.tile {
	.avatar {
		display: block;
		margin: auto;
	}
}

.tile,
.catch-phrase {
	text-align: center;
}

.tile--name {
	display: inline-block;
	vertical-align: baseline;
	font-size: to-unit(20px);
}

.tile--name + .icon {
	padding-left: rhythm(2);
}

/*
Public tile

What it looks like when someone else takes a look at your personal profile

markup:
<div class="tile">
	<img class="avatar avatar--l" src="https://images.unsplash.com/photo-1457986811718-8254e452e199?fit=crop&w=320&h=320&q=80" />
	<p class="h-paragraph tile--name">Pete McCormick</p>
	<a class="icon is-active" href="javascript:void(0);">
		<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-star"></use></svg>
	</a>	
	<a class="icon" href="javascript:void(0);">
		<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-comment"></use></svg>
	</a>	
	<p class="txt--meta">Urban Photography</p>
	<p class="quote catch-phrase leader--half">Photography is the only language that can be understood anywhere in the world.</p>
</div>

Styleguide 4.1.1
*/

