/*
Container

Containers need to be wrapped inside a `container-cluster` for the layout to take effect. When flexbox is not available, the container class will fall-back to floats.

.container-cluster.container-cluster--sidebar - Splits view into two columns, one larger and one very small container (used for profile page)
.container-cluster.container-cluster--split - Splits view into two columns, one larger and one smaller container (used for browser page)
.container-cluster.container-cluster--even - Splits view into two equal width columns, can be used for different purposes @todo consider moving to grid class

markup:
<main class="{$modifiers}">
  <section class="container container--main">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</section>
  <section class="container container--aside"></section>
</main>

sg-wrapper:
<div class="debug-layout debug-rhythm">
<div class="debug-breakpoint">
  <sg-wrapper-content/>
</div>
</div>

Styleguide 2.1
*/

.container-cluster {
  @include clearfix();
  display: flex;
  flex-wrap: wrap;
}
.container {
  float: left;
  width: 100%;
  flex: 1 1 100%;

  @include breakpoint($gt-large-handheld) {
    &-cluster--even {
      flex-wrap: nowrap;
    }
    &-cluster--even & {
      width: percentage(8/16);
      flex: 0 0 percentage(8/16);
    }
    &-cluster--even & + & {
      flex-shrink: 1;
    }
  }

  @include breakpoint($gt-small-desktop) {
    &-cluster--sidebar,
    &-cluster--split {
      flex-wrap: nowrap;
    }
    &-cluster--sidebar &,
    &-cluster--split & {
      flex-shrink: 0;
    }
    &-cluster--sidebar & + &,
    &-cluster--split & + & {
      flex-shrink: 1;
    }
    &-cluster--sidebar & + &,
    &-cluster--split & + & {
      border-left: 1px solid $color-growth--01;
    }
    &-cluster--sidebar & {
      width: percentage(14/18);
      flex-basis: percentage(14/18);
      // & + & {
      //   width: percentage(4/18);
      //   flex-basis: percentage(4/18);
      // }
    }
    &-cluster--split & {
      width: percentage(12/18);
      flex-basis: percentage(12/18);
      // & + & {
      //   width: percentage(6/18);
      //   flex-basis: percentage(6/18);
      // }
    }
  }

  @include breakpoint($gt-large-desktop) {
    &-cluster--sidebar & {
      width: percentage(16/20);
      flex-basis: percentage(16/20);
      // & + & {
      //   width: percentage(4/20);
      //   flex-basis: percentage(4/20);
      // }
    }
    &-cluster--split & {
      width: percentage(14/20);
      flex-basis: percentage(14/20);
      // & + & {
      //   width: percentage(6/20);
      //   flex-basis: percentage(6/20);
      // }
    }
  }
}