/*
Container

Containers need to be wrapped inside a `container-cluster` for the layout to take effect. When flexbox is not available, the container class will fall-back to floats.

.container-cluster.container-cluster--sidebar - Splits view into two columns, one larger and one very small container (used for profile page)
.container-cluster.container-cluster--split - Splits view into two columns, one larger and one smaller container (used for browser page)
.container-cluster.container-cluster--even - Splits view into two equal width columns, can be used for different purposes @todo consider moving to grid class

markup:
<main class="{$modifiers}">
  <section class="container container--main">Large container</section>
  <section class="container container--aside">Small container</section>
</main>

sg-wrapper:
<div class="debug-breakpoints">
  <sg-wrapper-content/>
</div>

Styleguide 2.1.1
*/

.container-cluster {
  @include clearfix();
  display: flex;
  flex-wrap: wrap;
}
.container {
  float: left;
  width: 100%;
  flex: 1 1 100%;

  @include breakpoint($gt-large-handheld) {
    &-cluster--even {
      flex-wrap: nowrap;
    }
    &-cluster--even & {
      width: percentage(8/16);
      flex: 1 0 percentage(8/16);
    }
  }

  @include breakpoint($gt-small-desktop) {
    &-cluster--sidebar,
    &-cluster--split {
      flex-wrap: nowrap;
    }
    &-cluster--sidebar &,
    &-cluster--split & {
      flex: 1 0;
    }
    &-cluster--sidebar & + &,
    &-cluster--split & + & {
      border-left: 1px solid $color-growth--01;
    }
    &-cluster--sidebar & {
      width: percentage(14/18);
      flex-basis: percentage(14/18);
    }
    &-cluster--split & {
      width: percentage(12/18);
      flex-basis: percentage(12/18);
    }
  }

  @include breakpoint($gt-large-desktop) {
    &-cluster--sidebar & {
      width: percentage(16/20);
      flex-basis: percentage(16/20);
    }
    &-cluster--split & {
      width: percentage(14/20);
      flex-basis: percentage(14/20);
    }
  }
}