/*
Leader

.leader - Adds a margin of 3 rhythms to top
.leader--tiny - Adds a margin of 1 rhythms to top
.leader--half - Adds a margin of 1.5 rhythms to top
.leader--double - Adds a margin of 6 rhythms to top
.leader--large - Adds a margin of 9 rhythms to top

markup:
<div class="{$modifiers}">I am content inside of a semanticless container</div>

Styleguide 2.5
*/

.leader {
	margin-top: rhythm(3);
	&--tiny {
		margin-top: rhythm();
	}
	&--half {
		margin-top: rhythm(1.5);
	}
	&--double {
		margin-top: rhythm(6);
	}
	&--large {
		margin-top: rhythm(9);
	}
}

/*
Leader inside

.leader-inside - Adds a padding of 3 rhythms to top
.leader-inside--tiny - Adds a padding of 1 rhythms to top
.leader-inside--half - Adds a padding of 1.5 rhythms to top
.leader-inside--double - Adds a padding of 6 rhythms to top
.leader-inside--large - Adds a padding of 9 rhythms to top

markup:
<div class="{$modifiers}">I am content inside of a semanticless container</div>

Styleguide 2.5.1
*/

.leader-inside {
	padding-top: rhythm(3);
	&--tiny {
		padding-top: rhythm();
	}
	&--half {
		padding-top: rhythm(1.5);
	}
	&--double {
		padding-top: rhythm(6);
	}
	&--large {
		padding-top: rhythm(9);
	}
}
