/*
Leader

.leader - Adds a margin of 3 rhythms to top
.leader--tiny - Adds a margin of 1 rhythms to top
.leader--hero - Adds a margin of 6 rhythms to top
.leader--giant - Adds a margin of 9 rhythms to top

markup:
<div class="{$modifiers}">I am content inside of a semanticless container</div>

Styleguide 2.5
*/

.leader {
	margin-top: rhythm(3);
	&--tiny {
		margin-top: rhythm(1);
	}
	&--hero {
		margin-top: rhythm(6);
	}
	&--giant {
		margin-top: rhythm(9);
	}
}

/*
Leader inside

.leader-inside - Adds a padding of 3 rhythms to top
.leader-inside--tiny - Adds a padding of 1 rhythms to top
.leader-inside--hero - Adds a padding of 6 rhythms to top
.leader-inside--giant - Adds a padding of 9 rhythms to top

markup:
<div class="{$modifiers}">I am content inside of a semanticless container</div>

Styleguide 2.5.1
*/

.leader-inside {
	padding-top: rhythm(3);
	&--tiny {
		padding-top: rhythm(1);
	}
	&--hero {
		padding-top: rhythm(6);
	}
	&--giant {
		padding-top: rhythm(9);
	}
}
