/*
Media

.media - Media
.media.media__subject - Left part of media
.media.media__body - Right part of media
.media.media--stretch - .media__subject will take up the remaining space

markup:

Styleguide 2.4
*/

.media {
    display: flex;
    align-items: center;
	// &__subject {
	// }
	// &__body {
	// }
	&--stretch &__subject {
		flex-grow: 1;
	}
	&__subject--grow,
	&__body--grow {
		flex-grow: 1;
	}
}
