/*
Trailer

.trailer - Adds a margin of 3 rhythms to bottom
.trailer--tiny - Adds a margin of 1 rhythms to bottom
.trailer--double - Adds a margin of 6 rhythms to bottom
.trailer--large - Adds a margin of 9 rhythms to bottom

markup:
<div class="{$modifiers}">I am content inside of a semanticless container</div>

Styleguide 2.6
*/

.trailer {
	margin-bottom: rhythm(3);
	&--tiny {
		margin-bottom: rhythm(1);
	}
	&--double {
		margin-bottom: rhythm(6);
	}
	&--large {
		margin-bottom: rhythm(9);
	}
}

/*
Trailer inside

.trailer-inside - Adds a padding of 3 rhythms to bottom
.trailer-inside--tiny - Adds a padding of 1 rhythms to bottom
.trailer-inside--double - Adds a padding of 6 rhythms to bottom
.trailer-inside--large - Adds a padding of 9 rhythms to bottom

markup:
<div class="{$modifiers}">I am content inside of a semanticless container</div>

Styleguide 2.6.1
*/

.trailer-inside {
	padding-bottom: rhythm(3);
	&--tiny {
		padding-bottom: rhythm(1);
	}
	&--double {
		padding-bottom: rhythm(6);
	}
	&--large {
		padding-bottom: rhythm(9);
	}
}
