/*
Registration - Step 1

markup:
<div class="container wings">
	<div class="wings h-poster trailer--large">Join Teemr</div>
	<div class="container container--even wings">
		<sg-insert>4.9</sg-insert>
		<sg-insert>4.9.1</sg-insert>
		<sg-insert>4.9.2</sg-insert>
		<a class="button button--stretch button--trust leader--double" href="javascript:void(0)">Send invitation</a>
	</div><!--
	--><div class="container leader--half container--even wings">
		<p class="h-page">Why join Teemr?</p>
		<p>Teemr is the first platform that joins businesses, professionals and students into a single community. Sound too seventies for you? Ok, then try this: Teemr is designed especially to support collaboration and knowledge sharing. Among many other things, you can post projects, invite team members, pitch projects (individually or with a team) and find businesses and professionals. <span><a href="javascript:void(0)">Read more...</a></span></p>
		<div class="leader notice">
			<p class="h-page">Special badge for early birds</p>
			<div class="media media--stretch author-meta">
			    <p class="media__subject">We have a special treat for early birds; this limited edition ‘Teemr Trailblazer’ badge will be issued to the first 600 registrants. </p>
			    <div class="media__body">
					<img class="avatar--l" src="" />
			    </div>
			</div>
	</div>
</div>

Styleguide 6.7.2
*/

/*
Registration - Step 2

markup:
<div class="notification leader-inside--double trailer-inside--double">
	<p>Almost done!</p>
	<p>Please complete your registration by entering the secret token we've just sent you by E-mail.</p>
	<a class="button leader--double" href="javascript:void(0)">Resend the token</a>
</div>
<div class="container wings">
	<div class="container container--even wings leader">
		<sg-insert>4.7</sg-insert>
		<p class="h-poster leader--double trailer--large">Hi username :-)</p>
		<p>We have sent you an E-mail container a secret token. Please complete your registration by entering it below.</p>
		<sg-insert>4.9.3</sg-insert>
		<a class="button button--stretch button--trust leader--double" href="javascript:void(0)">Complete registration</a>
	</div>
</div>

Styleguide 6.7.2.1
*/

/*
Registration - Step 3

markup:
<div class="notification leader-inside--double trailer-inside">
	<p class="trailer--large">That's a match. Now, login and start enjoying Teemr!</p>
	<a href="javascript:void(0)">Close</a>
</div>
<div class="container wings">
	<div class="container container--even wings leader">
		<sg-insert>4.7</sg-insert>
		<sg-insert>6.7.1</sg-insert>
	</div>
</div>

Styleguide 6.7.2.2
*/
