

// Base colours
$teemr-blue: #005678;
$teemr-green: #19988B;
$teemr-orange: #E06B2F;

// #9f784c
$brown: mix( mix($teemr-orange, $teemr-green, 70%), $teemr-blue, 97%);
$teemr-brown: #9f784c; // Brown

/*
Colours

Styleguide 1.1
*/

/*
Base colours

$color-shadow - Shadow colour
$color-highlight - Highlight colour
$color-structure - Brown, support and structural elements
$color-body - A mix of color-shadow with 80% color-highlight

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.1
*/

$color-highlight: #FFFEF8;
$color-shadow: #001822;
$color-structure: $teemr-brown;

// #33464d
// @debug mix($color-shadow, $color-highlight, 80%);
$color-body: #33464d;


/*
Spot colours

$color-trust - Blue, trusting (business) elements
$color-growth - Green, educative elements
$color-social - Orange, social elements

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.2
*/

$color-trust: $teemr-blue;
$color-growth: $teemr-green;
$color-social: $teemr-orange;

/*
Shades

$color-structure--01 - Very light
$color-structure--02 - Light
$color-structure--03 - Moderately lighter
$color-trust--01 - Very light
$color-trust--02 - Light
$color-trust--03 - Moderately lighter
$color-growth--01 - Very light
$color-growth--02 - Light
$color-growth--03 - Moderately lighter
$color-social--01 - Very light
$color-social--02 - Light
$color-social--03 - Moderately lighter

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.3
*/

// #ece4db
// @debug mix($color-structure, #FFF, 15%);
// #d9c9b7
// @debug mix($color-structure, #FFF, 40%);
// #c5ae94
// @debug mix($color-structure, #FFF, 60%);

$color-structure--01: #f1ebe4;
$color-structure--02: #d9c9b7;
$color-structure--03: #c5ae94;

// #ccdcde
// @debug mix($color-trust, $color-highlight, 20%);
// #99bbc5
// @debug mix($color-trust, $color-highlight, 40%);
// #6699ab
// @debug mix($color-trust, $color-highlight, 60%);

$color-trust--01: #ccdcde;
$color-trust--02: #99bbc5;
$color-trust--03: #6699ab;

// #d1eae2
// @debug mix($color-growth, $color-highlight, 20%);
// #a3d5cc
// @debug mix($color-growth, $color-highlight, 40%);
// #75c1b7
// @debug mix($color-growth, $color-highlight, 60%);

$color-growth--01: #d1eae2;
$color-growth--02: #a3d5cc;
$color-growth--03: #75c1b7;


// #f9e1d0
// @debug mix($color-social, $color-highlight, 20%);
// #f3c3a8
// @debug mix($color-social, $color-highlight, 40%);
// #eca67f
// @debug mix($color-social, $color-highlight, 60%);

$color-social--01: #f9e1d0;
$color-social--02: #f3c3a8;
$color-social--03: #eca67f;

// Anchor colours
$color-anchor: $color-growth;
$color-anchor--hover: $color-growth--02;
$color-anchor--active: $color-growth--02;
$color-anchor--visited: $color-growth--03;

// Notification colours
$color-notification: $color-trust--01;
$color-alert: $color-social;
