/*
Colours

Styleguide 1.1
*/

/*
Base colours

$color-trust - Blue, trusting (business) elements
$color-growth - Green, educative elements
$color-social - Orange, social elements
$color-assist - Brown, productive elements

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.1
*/

@function shade($color: $color-theme, $percentage: 20%, $mix-with: $color-highlight) {
    @return mix($mix-with, $color, $percentage);
}

// Base colours
$teemr-blue: #005678;
$teemr-green: #19988B;
$teemr-orange: #E06B2F;
$teemr-brown: #A3774B;

// Tags colours
$color-tag: #a3d5cc;
$tag-social: $teemr-orange;

// Map colours to meaning
$color-trust: $teemr-blue;
$color-growth: $teemr-green;
$color-social: $teemr-orange;
$color-assist: $teemr-brown;

$color-alert: #f50051;
$color-notify: $color-alert;

// Mix with these for colour ranges
$white: #ffffff;
$color-highlight: #FFFEF8;
$color-shadow: #001822;

$color-anchor: $teemr-green !default;

$color-anchor--hover: darken($color-anchor, 20%) !default;

$color-anchor--active: lighten($color-anchor, 15%) !default;

$color-anchor--visited: darken($color-anchor, 30%) !default;

$colors: (
    trust: (    
        l80: mix($teemr-blue, $color-highlight, 20%),
        l60: mix($teemr-blue, $color-highlight, 40%),
        l40: mix($teemr-blue, $color-highlight, 60%),
        l20: mix($teemr-blue, $color-highlight, 80%),
        100: $teemr-blue,
        d20: mix($teemr-blue, $color-shadow, 80%),
        d40: mix($teemr-blue, $color-shadow, 60%),
        d60: mix($teemr-blue, $color-shadow, 40%),
        d80: mix($teemr-blue, $color-shadow, 20%)
    ),
    growth: (       
        l80: mix($teemr-green, $color-highlight, 20%),
        l60: mix($teemr-green, $color-highlight, 40%),
        l40: mix($teemr-green, $color-highlight, 60%),
        l20: mix($teemr-green, $color-highlight, 80%),
        100: $teemr-green,
        d20: mix($teemr-green, $color-shadow, 80%),
        d40: mix($teemr-green, $color-shadow, 60%),
        d60: mix($teemr-green, $color-shadow, 40%),
        d80: mix($teemr-green, $color-shadow, 20%)
    ),
    social: (
        l80: mix($teemr-orange, $color-highlight, 20%),
        l60: mix($teemr-orange, $color-highlight, 40%),
        l40: mix($teemr-orange, $color-highlight, 60%),
        l20: mix($teemr-orange, $color-highlight, 80%),
        100: $teemr-orange,
        d20: mix($teemr-orange, $color-shadow, 80%),
        d40: mix($teemr-orange, $color-shadow, 60%),
        d60: mix($teemr-orange, $color-shadow, 40%),
        d80: mix($teemr-orange, $color-shadow, 20%)
    ),
    assist: (
        l80: mix($teemr-brown, $color-highlight, 20%),
        l60: mix($teemr-brown, $color-highlight, 40%),
        l40: mix($teemr-brown, $color-highlight, 60%),
        l20: mix($teemr-brown, $color-highlight, 80%),
        100: $teemr-brown,
        d20: mix($teemr-brown, $color-shadow, 80%),
        d40: mix($teemr-brown, $color-shadow, 60%),
        d60: mix($teemr-brown, $color-shadow, 40%),
        d80: mix($teemr-brown, $color-shadow, 20%)
    ),
    highlight: (
        l80: mix($color-highlight, $white, 20%),
        l60: mix($color-highlight, $white, 40%),
        l40: mix($color-highlight, $white, 60%),
        l20: mix($color-highlight, $white, 80%),
        100: $color-highlight,
        d20: mix($color-highlight, $color-shadow, 80%),
        d40: mix($color-highlight, $color-shadow, 60%),
        d60: mix($color-highlight, $color-shadow, 40%),
        d80: mix($color-highlight, $color-shadow, 20%)),
    shadow: (
        l80: mix($color-shadow, $color-highlight, 20%),
        l60: mix($color-shadow, $color-highlight, 40%),
        l40: mix($color-shadow, $color-highlight, 60%),
        l20: mix($color-shadow, $color-highlight, 80%),
        100: $color-shadow
    )
);

// Notification colours
$color-notification: mix($teemr-blue, $color-highlight, 20%);
$color-close: #1AACBD;


/* Background colors */
%bg--light {
    background-color: mix($color-highlight, $white, 20%); // Light grey
}
%bg--default {
    background-color: mix($color-highlight, $white, 20%); // Grey
}
%bg--dark {
    background-color: mix($teemr-blue, $color-shadow, 60%); // Slightly darker blue
}
%bg--content {
    background-color: $white; // White
}
%bg--focus {
    background-color: $color-growth // Green
}
%bg--top-bar {
    background-color: mix($teemr-blue, $color-shadow, 80%); // Slightly lighter blue
}
%bg--search-bar {
    @extend %bg--content; //white
}


/* 
Applied colours

Styleguide 1.1.2
*/

$color-body: mix($color-shadow, $color-highlight, 80%);
$color-footer: shade($color-trust, 80%, $color-shadow);
$color-theme: $color-growth;
$color-alert: $color-social;
$color-page: $white;
$color-search: $color-page;
$color-browse__user: $color-trust;
$color-browse__context: $white;
$color-browse: $white;
$color-content: $white;
$color-content__brief: $white;

