/*
States

.is-narrative - Hidden from screen, screen reader friendly

markup:
<span class="{$modifiers}">{$modifiers}</span>

Styleguide 1.5
*/

.is-narrative,
.is-hidden {
	position: absolute;
	left: -999em;
}
