/*
States

.is-narrative - Hidden from screen, screen reader friendly
.is-editable - Editable content

markup:
<p class="{$modifiers}">{$modifiers}</p>

Styleguide 1.5
*/

.is-narrative,
.is-hidden {
	position: absolute;
	left: -999em;
}

.is-editable {
	outline: 0;
	&:empty {
		border: 1px dashed mix($teemr-brown, $color-highlight, 60%);
		border-width: 1px 0;
		color: mix($teemr-brown, $color-highlight, 60%);
		&:before {
			content: attr(data-placeholder);
		}
	}
	&:focus {
		border: 1px dashed $color-body;
		border-width: 1px 0;
		&:before {
			content: "";
		}
	}
}

.is-correct {
	.media__body {
		color: darkseagreen;
		border-color: darkseagreen;
	}
}

.is-false {
	.media__body {
		color: red;
		border-color: red;
	}
}

.is-bold {
	font-weight: bold;
}
