/*
Dashboard

markup:
<div class="box trailer-inside--double">
	<div class="leader-inside--double trailer-inside--large wings">
		<sg-insert>4.1</sg-insert>
	</div>
	<div class="wings case">
		<div class="case__unit">
			<div class="case__sample case__sample--stats case--large trailer-inside--large leader-inside gutters">
				<p class="h-paragraph">Your numbers</p>
				<p class="leader">336 Views since your last visit (Monday 24 April 2016)</p>
				<div class="media author-meta">
				    <div class="media__subject">
				      <sg-insert>3.12.1-1</sg-insert>
				    </div>
				    <div class="media__body">
				        <p><a class="anchor--main" href="javascript:void();">Show all 336</a></p>
				    </div>
				</div>
				<p class="leader">336 Views since your last visit (Monday 24 April 2016)</p>
				<p class="leader">336 Views since your last visit (Monday 24 April 2016)</p>
				<p class="leader">336 Views since your last visit (Monday 24 April 2016)</p>
			</div>
		</div>
		<div class="case__unit">
			<div class="case__sample trailer-inside leader-inside gutters">
				<h3 class="h-paragraph trailer">Your top scoring posts</h3>
				<sg-insert>5.3.2.1</sg-insert>
				<div class="center leader--double">
					<a class="button button--growth" href="javascript:void(0)">Show all posts</a>
				</div>
			</div>
			<div class="case__sample trailer-inside leader-inside gutters">
				<p class="h-paragraph trailer">Badges</p>
			</div>			
		</div>
		<div class="case__unit">
			<div class="case__sample case--large trailer-inside leader-inside">
				<form>
					<h1 class="h-paragraph wings">Settings</h1>
					<fieldset class="leader">
						<legend class="h-paragraph wings">Profile</legend>
						<div class="filter wings">
							<input class="switch switch--reverse switch--stretch" type="checkbox" name="cb1" id="cb1"/>
							<label class="txt--label" for="cb1">A setting</label>
						</div>
						<div class="filter wings">
							<input class="switch switch--reverse switch--stretch" type="checkbox" name="cb2" id="cb2"/>
							<label class="txt--label" for="cb2">Another setting</label>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

Styleguide 6.5
*/

.top-post {
	color: $black;
	font-size: to-unit(20px);
	font-weight: 600; /* Requires refining */
}
