/*
Breakpoint settings

$ltsmall - Breakpoint for (**smaller than**) devices under 767px.
$ltmedium - Breakpoint for (**smaller than**) devices under 1024px.
$ltlarge - Breakpoint for (**smaller than**) devices under 1280px.
<hr>
$gtsmall - Breakpoint for (**larger than**) devices over 768px.
$gtmedium - Breakpoint for (**larger than**) devices over 1024px.
$gtlarge - Breakpoint for (**larger than**) devices over 1280px.
<hr>
$portrait - Breakpoint for portrait oriented viewports.
$landscape - Breakpoint for landscape oriented viewports.

markup:
{$modifiers}

Styleguide 1.3.3
*/

$gtsmall: "(min-width: #{to-unit(768px)})"; // Tablet portrait
$gtmedium: "(min-width: #{to-unit(1024px)})"; // Tablet landscape, old desktops
$gtlarge: "(min-width: #{to-unit(1280px)})"; // Desktop

$ltsmall: "(max-width: #{to-unit(767px)})"; // Default
$ltmedium: "(max-width: #{to-unit(1024px)})"; // Default
$ltlarge: "(max-width: #{to-unit(1280px)})"; // Default

$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";
