/*
Layout

$layout - Layouts accross breakpoints.

markup:
<pre>{$modifiers}</pre>

Styleguide 1.3.8
*/

$layouts: (
	$gtsmall: (
		default: false,
		columns: 14,
		gutter-width: rhythm(3),
		rhythm: rhythm(),
		debug-color: #FF1493, // DeepPink
		grids: (
			split: (
				main: ( columns: 14, wings: (1,1) ),
				aside: ( columns: 14, wings: (1,1) )
			),
			sidebar: (
				main: ( columns: 14, wings: (1,1) ),
				aside: ( columns: 14, wings: (1,1) )
			)
		)
	),
	$gtmedium: (
		default: false,
		columns: 26,
		gutter-width: rhythm(4),
		rhythm: rhythm(),
		debug-color: #4B0082, // Indigo
		grids: (
			split: (
				main: ( columns: 13, wings: (1,1) ),
				aside: ( columns: 13, wings: (1,1) )
			),
			sidebar: (
				main: ( columns: 17, wings: (1,0) ),
				aside: ( columns: 9, wings: (1,1) )
			)
		)
	),
	$gtlarge: (
		default: false,
		columns: 28,
		gutter-width: rhythm(4),
		rhythm: rhythm(),
		debug-color: #00FFFF, //Cyan
		grids: (
			split: (
				main: ( columns: 14, wings: (2,2) ),
				aside: ( columns: 14, wings: (2,2) )
			),
			sidebar: (
				main: ( columns: 17, wings: (2,0) ),
				aside: ( columns: 9, wings: (2,2) )
			)
		)
	)
);

// Get the defaults from the layouts map
$columns: get-columns();
$gutter-width: get-gutter-width();
$rhythm: get-rhythm();
