/*
Layout

$layout - Layouts accross breakpoints.

markup:
<pre>{$modifiers}</pre>

Styleguide 1.3.8
*/

$layouts: (
	/* <768px */$lt-large-handheld: (
		default: true,
		columns: 12,
		gutter-width: rhythm(2),
		rhythm: rhythm(),
		debug-color: #2C3E50, // DarkBlueGrey
		grids: (
			split: (
				main: ( columns: 12, wings: (1,1) ),
				aside: ( columns: 12, wings: (1,1) )
			),
			sidebar: (
				main: ( columns: 12, wings: (1,1) ),
				aside: ( columns: 12, wings: (1,1) )
			)
		)
	),
	/* >=768px */$gt-large-handheld: (
		default: false,
		columns: 16,
		gutter-width: rhythm(3),
		rhythm: rhythm(),
		debug-color: #FF1493, // DeepPink
		grids: (
			sidebar: (
				main: ( columns: 16, wings: (1,1) ),
				aside: ( columns: 16, wings: (1,1) )
			),
			split: (
				main: ( columns: 16, wings: (1,1) ),
				aside: ( columns: 16, wings: (1,1) )
			)
		)
	),
	/* >=1024px */$gt-small-desktop: (
		default: false,
		columns: 18,
		gutter-width: rhythm(4),
		rhythm: rhythm(),
		debug-color: #4B0082, // Indigo
		grids: (
			sidebar: (
				main: ( columns: 14, wings: (1,1) ),
				aside: ( columns: 4, wings: (0,0) )
			),
			split: (
				main: ( columns: 12, wings: (1,1) ),
				aside: ( columns: 6, wings: (1,1) )
			)
		)
	),
	/* >=1440px */$gt-large-desktop: (
		default: false,
		columns: 20,
		gutter-width: rhythm(4),
		rhythm: rhythm(),
		debug-color: #00FFFF, //Cyan
		grids: (
			sidebar: (
				main: ( columns: 16, wings: (1,1) ),
				aside: ( columns: 4, wings: (0,0) )
			),
			split: (
				main: ( columns: 14, wings: (1,1) ),
				aside: ( columns: 6, wings: (1,1) )
			)
		)
	)
);

// Get the defaults from the layouts map
$columns: get-columns();
$gutter-width: get-gutter-width();
$rhythm: get-rhythm();
