/*
Filter

markup:
<div class="container box" id="filter">
	<div class="filter leader--double ">
		<p class="h-page">Filter</p>
		<p class="leader h-paragraph">Show/Hide</p>
	</div>
	<div class="filter--light">
		<div class="filter--show">
			<div class="filter--even">Projects</div><!--
			--><div class="filter--even filter--switch">
				<i class="switch switch--on"></i>
			</div>
		</div>
		<div class="filter--show">
			<div class="filter--even">Blogs</div><!--
			--><div class="filter--even filter--switch">
				<i class="switch switch--off"></i>
			</div>
		</div>
	</div>
	<div class="filter">
		<p class="leader h-paragraph">Limit posts</p>
	</div>
	<div class="filter--light">
		<div class="filter--show">
			<div class="filter--even">Blogs</div><!--
			--><div class="filter--even filter--switch">
				<i class="switch switch--off"></i>
			</div>
		</div>
	</div>
	<div class="filter">
		<p class="leader h-paragraph">Keyword</p>
	</div>
	<div class="filter--light">
		<div class="filter--show">
			<input class="filter__input">
		</div>
	</div>
</div>

Styleguide 5.5
*/

.filter__input {
	width: 100%;
	border: 1px solid #D9D5CD;
	border-radius: $border-radius;
	line-height: rhythm(3);
}

.filter {
	padding: 0 rhythm(12);
	&--even {
		display: inline-block;
		width: 50%;
	}
	&--switch {
		text-align: right;
	}
	&--show {
		padding: rhythm(1) rhythm(12);
		border-bottom: 2px solid  $color-structure--01;
	}
	&--light {
		background: mix(#FFF, $color-structure--01, 40%);
	}
}
