/*
Medium editor

Cleaning up required!

markup:
<div class="postr medium-editor" data-teemr-social-share="">
    <h1>Weg met de urenmachine!</h1>
    <p>Door ‘het nieuwe werken’, is de indeling van werktijd enorm veranderd. Als mensen thuis werken of de vrijheid hebben om hun werk af te krijgen op variabele tijden, verandert de productiviteit. Die neemt toe. Je hoort mensen steeds vaker zeggen, dat zij op de dagen dat ze thuis werken veel meer af krijgen dan wanneer zij steeds door collega’s op kantoor worden afgeleid voor een praatje of door de vele overleggen.</p>
    <p>Op een kantoordag ben je al snel 8 tot 9 uur aanwezig, terwijl je op een thuiswerkdag bergen werk verzet in de helft van de tijd. Overleggen blijken ook veel effectiever als je via chat of skype besluiten neemt. Dat kan namelijk overal, ook als je even koffie drinkt op een terras. Je hoeft niet voor ieder wissewasje bij elkaar te komen met de hele goegemeente of slechts bij elkaar te komen, ‘omdat we iedere maandag nu eenmaal overleg hebben’.</p>
    <h2>Slimmer werken, dus minder inkomen?</h2>
    <p>Het geeft mensen ruimte om zonder schuldgevoel een middagje te gaan tennissen onder kantoortijd of iets anders te doen. Het zou mij niet verbazen als fulltime medewerkers die voorheen 40 uur per week aanwezig waren op kantoor, nu – door variabele tijd en plaats – met slechts 30 uur dezelfde hoeveelheid werk verzetten of zelfs meer. Zij krijgen nog steeds fulltime betaald en dat motiveert. Het zou toch ook heel vreemd zijn om mensen met een fulltime contract ineens over te zetten in een parttime contract, tegen een salaris naar rato daarvan, omdat zij slimmer zijn gaan werken? Minder inkomen door slimmer te werken, motiveert namelijk niet. Het werkt alleen maar inefficiëntie in de hand, zodat je inkomen onveranderd blijft.</p>
    <h2>Marge op uren, best wel frauduleus</h2>
    <p>Voor zelfstandig ondernemers is het nieuwe werken een minder voordelige ontwikkeling, want de meeste zzp-ers, zeker als zij bemiddeld zijn door een intermediair, krijgen per uur betaald. Je snijdt jezelf dus in de vingers als je snelheid maakt of super effectief met je tijd omgaat. Het creëert frauduleuze uren schrijven, die niet worden herkend als fraude. Want als je bijvoorbeeld 30 uur per week hebt afgesproken met de intermediair, sturen zij erop aan om de ‘aangenomen uren’ ook te schrijven. Anders missen zíj marge. En jij mist inkomen.</p>
    <h2>Anders denken</h2>
    <p>Het denken over uren moet veranderen. In het vaststellen van de opdracht, moeten intermediairs niet meer klakkeloos aannemen, dat hun klant verwacht dat er 40 uur per week voor een opdracht staat. Organisaties vergeten vaak, dat een externe direct productief is, omdat je juist een externe erbij haalt vanwege zijn expertise in het vakgebied. Mensen die minder uren beschikbaar hebben – door een andere opdracht ernaast of gewoonweg door hobby’s, kinderen of andere bezigheden -, krijgen niet de kans om deze opdracht te gaan doen. Oók niet als zij zeker weten dat zij in minder tijd hetzelfde of zelfs meer resultaat opleveren.</p>
    <p>De klant is met regelmaat dus te duur uit en de bemiddelde zzp-er is dief van zijn eigen portemonnee als hij minder uren schrijft. Een ander nadeel is, als je afspraken maakt over tijd, het nog steeds moet passen in het budget van de organisatie. Als je het aantal uren voor een opdracht centraal stelt binnen een bepaald budget, is de kandidaat met een lager uurtarief dus altijd passender. Ofwel, de organisatie heeft een te zware opdracht gedefinieerd voor een onervaren, want goedkopere, kandidaat. Dat komt de kwaliteit ook niet ten goede.<br></p>
    <h2>Een beetje minder</h2>
    <p>Als zzp-er speelt je moreel kompas ook een rol. Zowel in werktijd als in financiële opbrengst. Natuurlijk hebben alle zzp-ers het excuus, dat zij hun eigen vakanties, pensioenen en verzekeringen moeten verdisconteren in hun tarief. En natuurlijk moet je in je eigen onderhoud voorzien in tijden dat je geen of minder opdrachten hebt. Maar genoeg is genoeg. En je bent ondernemer geworden omdat je vindt dat je kwaliteit levert en risico’s durft aan te gaan. Dan moet financiële zekerheid niet bovenaan je lijstje staan. Staat dat wel bovenaan, dan is rijk worden over de rug van onwetende klanten je drijfveer. Een beetje minder mag ook wel.</p>
    <h2>Kwaliteit centraal</h2>
    <p>Het wordt tijd, dat we niet meer kijken naar het aantal uren dat een opdrachtgever denkt dat jij nodig hebt, maar naar kwaliteit. Lever jij hetzelfde resultaat in minder tijd? Organiseer het dan zo met je opdrachtgever zoals hij ook met vaste medewerkers doet die tijd over houden. Spreek een vast maandtarief af waarin tijd geen rol speelt. Intermediairs kunnen dit systeem volgen, door voor de succesvolle bemiddeling een eenmalige fee te vragen of door hun marge te verdisconteren in het vaste maandtarief. Dat scheelt meteen een hoop inefficiënte tijd voor controle op al die urenregistratie. En het verzamelen van alle benodigde handtekeningen, die toch wel gezet worden, omdat niemand precies weet wat je deed terwijl je wel aanwezig was, maar niets opleverde! Een eerlijker systeem, dat de waarde voor je expertise reëler maakt en minder fraudegevoelig is. Dat wil iedere ondernemer toch?</p>
</div>

Styleguide 5.99
*/

.data-medium-element sup {
  vertical-align: super;
}

.data-medium-element sub {
  vertical-align: sub;
}

.data-medium-element img {
  max-width: 100%;
}

.medium-editor-hidden {
  display: none;
}

.medium-toolbar-arrow-over:before, .medium-toolbar-arrow-under:after {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
}

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0;
}

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-width: 0 8px 8px;
}

.medium-editor-anchor-preview, .medium-editor-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  visibility: hidden;
  font-size: 16px;
  font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
}

.medium-editor-anchor-preview ul, .medium-editor-toolbar ul {
  margin: 0;
  padding: 0;
}

.medium-editor-anchor-preview li, .medium-editor-toolbar li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.medium-editor-anchor-preview li button, .medium-editor-toolbar li button {
  display: block;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.33;
  text-decoration: none;
  box-sizing: border-box;
}

.medium-editor-anchor-preview li button:focus, .medium-editor-toolbar li button:focus {
  outline: 0;
}

.medium-editor-anchor-preview li .medium-editor-action-underline, .medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline;
}

.medium-editor-anchor-preview li .medium-editor-action-pre, .medium-editor-toolbar li .medium-editor-action-pre {
  padding: 15px 0;
  font-weight: 100;
  font-size: 12px;
  font-family: Menlo,monospace;
}

.medium-editor-anchor-preview {
  max-width: 280px;
  word-break: break-all;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.4;
}

.medium-editor-anchor-preview a {
  display: inline-block;
  margin: 5px 5px 5px 10px;
  color: #fff;
}

.medium-editor-anchor-preview-active, .medium-editor-toolbar-active {
  visibility: visible;
}

.sticky-toolbar {
  position: fixed;
  top: 1px;
}

.medium-editor-toolbar-active.stalker-toolbar {
  -webkit-animation: pop-upwards 160ms forwards linear;
  animation: pop-upwards 160ms forwards linear;
}

.medium-editor-action-bold {
  font-weight: bolder;
}

.medium-editor-action-italic {
  font-style: italic;
}

.medium-editor-toolbar-form {
  display: none;
}

.medium-editor-toolbar-form a, .medium-editor-toolbar-form input {
  font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input, .medium-editor-toolbar-form label {
  margin: 0;
  padding: 6px;
  width: 316px;
  border: none;
  font-size: 14px;
  box-sizing: border-box;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus, .medium-editor-toolbar-form label:focus {
  outline: 0;
  border: none;
  box-shadow: none;
  appearance: none;
}

.medium-editor-toolbar-form label {
  display: block;
}

.medium-editor-toolbar-form a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
}

.medium-editor-dragover {
  background: #ddd;
}

.medium-image-loading {
  width: 40px;
  height: 40px;
  background-color: #333;
  display: inline-block;
  border-radius: 100%;
  -webkit-animation: medium-image-loading-animation 1s infinite ease-in-out;
  animation: medium-image-loading-animation 1s infinite ease-in-out;
}

@-webkit-keyframes medium-image-loading-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes medium-image-loading-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@mixin winging-it() {
  // -----------------------------------
  // wings
  // -----------------------------------
    margin-left: percentage(1/12);
    margin-right: percentage(1/12);
    @include gutters();
  // -----------------------------------
  // wings/breakpoints
  // -----------------------------------
  @include breakpoint($gt-medium-handheld) {
    margin-left: percentage(1/16);
    margin-right: percentage(1/16);
    &--left {
      margin-left: percentage(1/16);
    }
    &--right {
      margin-right: percentage(1/16);
    }
  }
  @include breakpoint($gt-large-handheld) {
    margin-left: percentage(3/18);
    margin-right: percentage(3/18);
    .page--sidebar & {
      margin-left: percentage(3/14);
      margin-right: percentage(3/14);
    }
    .container--aside & {
      margin-left: percentage(3/5);
      margin-right: percentage(3/5);
    }
    .container--main & {
      margin-left: percentage(3/13);
      margin-right: percentage(3/13);
      .page--sidebar & {
        margin-left: percentage(3/9);
        margin-right: percentage(3/9);
      }
    }
    .container--even & {
      margin-left: percentage(3/9);
      margin-right: percentage(3/9);
      .page--sidebar & {
        margin-left: percentage(3/7);
        margin-right: percentage(3/7);
      }
    }
    &--left {
      margin-left: percentage(3/18);
    }
    &--right {
      margin-right: percentage(3/18);
    }
  }

  @include breakpoint($gt-medium-desktop) {
    margin-left: percentage(5/20);
    margin-right: percentage(5/20);
    .page--sidebar & {
      margin-left: percentage(3/16);
      margin-right: percentage(3/16);
    }
    &--left {
      margin-left: percentage(5/20);
    }
    &--right {
      margin-right: percentage(5/20);
    }
  }
  .container--main &,
  .container--even & {
    margin-left: percentage(2/15);
    margin-right: percentage(2/15);
    .page--sidebar & {
      margin-left: 0;
      margin-right: 0;
    }
    padding-left: 0;
    padding-right: 0;
  }
  .container--even & {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.medium-editor {
  line-height: 1.5;
  position: relative;
  min-height: 200px;
}
.postr-section-controls {
  position: absolute;
  right: 100%;
}

.container--medium-editor,
.medium-editor h1,
.medium-editor h2,
.medium-editor h3,
.medium-editor h4,
.medium-editor p,
.medium-editor ul,
.medium-editor ol,
.medium-editor blockquote,
.medium-editor div,
.medium-insert-images,
.medium-editor-placeholder::after,
.medium-insert-embeds,
.medium-insert-embeds-placeholder::after,
.medium-insert-buttons {
  @include winging-it;
  /* Reset nested elements */
  h1, h2, h3, h4, p, ul, ol, blockquote, figure, &.medium-insert-embeds-active::after {
    margin-left: 0;
    margin-right: 0;
  }
}
.medium-insert-embeds-active>p {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.medium-insert-embeds-active::after {
  @include padding((top: 1/2, bottom: 1/2));
}

.container--medium-editor {
  padding-left: 0;
  padding-right: 0;
  width: auto;
}

// Add some top and bottom spacing
.medium-editor h1,
.medium-editor h2,
.medium-editor h3,
.medium-editor h4,
.medium-editor p,
.medium-editor div,
.medium-editor blockquote {
  &:first-child {
    margin-top: rhythm(3);
  }
}
.medium-editor figure {
  &:first-child {
    + h1,
    + h2,
    + h3,
    + h4,
    + p,
    + ul,
    + ol,
    + div,
    + blockquote {
      margin-top: rhythm(3);
    }
  }
}
.medium-editor-placeholder::after {
    margin-top: rhythm(3);
}
.medium-editor {
  @include clearfix();
}

.medium-editor h1,
.medium-editor h2,
.medium-editor h3,
.medium-editor h4,
.medium-editor p,
.medium-editor ul,
.medium-editor ol,
.medium-editor div,
.medium-editor blockquote,
.medium-insert-images-wide figcaption,
.medium-editor-placeholder::after {
  padding-top: rhythm(1/2);
  padding-bottom: rhythm(1/2);
}

.medium-editor-placeholder {
  position: relative;
}

.medium-editor-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  @include gutters();
  content: attr(data-placeholder) !important;
  white-space: pre;
}
.medium-editor li {
  display: list-item;
}
.medium-editor ul li {
  list-style-type: disc;
}
.medium-editor ol li {
  list-style-type: decimal;
}
.medium-editor p br {
  display: block;
  border-top: 1px solid black;
}

/*Teemr*/

.medium-editor {
  outline: 0 solid transparent;
  &:focus {
    outline: 0 solid transparent;
  }
}

.medium-editor span {
  font-size: inherit !important;
  line-height: inherit !important;
}

.medium-editor {
  /*
   * Small viewport
   */
  b {
    font-weight: 500;
  }
  i {
    font-weight: 100;
  }
  p {
  }
  h1, h2 {
    $_context: 24px;
    margin-top: to-unit(2, 1em, $_context);
    font-weight: 300;
    font-size: to-unit($_context, 1em);
    &+h2,
    &+h3 {
      margin-top: 0;
    }
  }
  h3 {
    $_context: 22px;
    margin-top: to-unit(5/3, 1em, $_context);
    font-weight: 100;
    font-size: to-unit($_context, 1em);
  }
  blockquote {
    $_context: 20px;
    margin-top: to-unit(6/3, 1em, $_context);
    margin-bottom: to-unit(6/3, 1em, $_context);
    padding-left: $gutter-width * 2;
    padding-right: $gutter-width * 2;
    font-weight: 100;
    font-size: to-unit($_context, 1em);
    position: relative;
    &::before {
      text-indent: -1 * $gutter-width;
      display: inline-block;
      vertical-align: top;
      position: absolute;
      color: color-get(growth, l80);
      font-size: 1em;
      font-weight: 500;
      line-height: 0;
      content: "”";
    }
  }
  figcaption {
    @extend %type-meta-data;
    color: color-get(highlight, d60);
  }
  .medium-insert-images {
    margin-top: to-unit(1);
    margin-bottom: to-unit(1);
  }
  .medium-insert-images-wide {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    .medium-editor--short &,
    figcaption {
      @include winging-it();
    }
  }
  figure.medium-insert-images-grid,
  .medium-insert-images-grid figure {
    margin-left: 0;
    margin-right: 0;

    @include column(1/2);

    &:nth-child(even) {
      padding-right: 0;
    }
    &:nth-child(odd) {
      padding-left: 0;
    }
  }
  .medium-insert-buttons {
    left: 0 !important;
  }

  /*
   * Medium viewport - e.g. tablet portrait
   */
  @include breakpoint($gt-medium-handheld) {
    p {
      margin-top: to-unit(1/3, 1em);
    }
    $_font-size: 16px;
    font-size: to-unit($_font-size, 1em);
    h1, h2 {
      $_context: 36px;
      margin-top: to-unit(6/3, 1em, $_context);
      font-size: to-unit($_context, 1em, $_font-size);
    }
    h3 {
      $_context: 30px;
      margin-top: to-unit(6/3, 1em, $_context);
      bottom: to-unit(1/3, 1em, $_context);
      font-size: to-unit($_context, 1em, $_font-size);
    }
    figcaption {
      font-size: to-unit(14px, 1em, $_font-size);
    }
    .medium-insert-images {
      margin-top: to-unit(2, 1em, $_font-size);
      margin-bottom: to-unit(2, 1em, $_font-size);
    }
    .medium-insert-images-left,
    .medium-insert-images-right {
      width: 40%;
      display: inline-block;
    }
    .medium-insert-images-left {
      margin-left: 0;
      margin-right: to-unit(2, 1em, $_font-size);
      float: left;
      text-align: right;
    }
    .medium-insert-images-right {
      margin-right: 0;
      margin-left: to-unit(2, 1em, $_font-size);
      float: right;
      text-align: left;
    }
  }

  /*
   * Normal viewport - e.g. tablet landscape & small desktop
   */
  @include breakpoint($gt-large-handheld) {
    $_font-size: 18px;
    font-size: to-unit($_font-size, 1em);
    p {
      margin-top: to-unit(1/3, 1em);
    }
    h1, h2 {
      $_context: 42px;
      margin-top: to-unit(6/3, 1em, $_context);
      font-size: to-unit($_context, 1em, $_font-size);
    }
    h3 {
      $_context: 36px;
      margin-top: to-unit(6/3, 1em, $_context);
      bottom: to-unit(1/3, 1em, $_context);
      font-size: to-unit($_context, 1em, $_font-size);
    }
    blockquote {
      padding-left: $gutter-width * 4;
      padding-right: $gutter-width * 4;
      &::before {
        text-indent: -2 * $gutter-width;
      }
    }
    .medium-insert-images-left,
    .medium-insert-images-right {
      margin-left: to-unit(2, 1em, $_font-size);
      margin-right: to-unit(2, 1em, $_font-size);
      width: 40%;
      display: inline-block;
    }
    .medium-insert-images-left {
      float: left;
    }
    .medium-insert-images-right {
      float: right;
    }
  }
}

.medium-editor.medium-editor--short {
  h1, h2, h3, p, div, blockquote, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
     color: inherit;
  }
}

[id="^warning"] {
  display: none !important;
}
