/*
Anchor
	
.anchor - Anchor
.anchor:hover - Anchor with hover state
.anchor--gentle - Gentle anchor
.anchor--gentle:hover - Gentle anchor with hover state
.anchor.anchor--main - Anchor with underlining 
.anchor.anchor--main:hover - Anchor with underlining with hover state

markup:
<a class="{$modifiers}" href="javascript:void(0);">{$modifiers}</a>

Styleguide 3.1
*/

.anchor {
	color: mix($teemr-green, $color-highlight, 80%);
	&:hover {
		color: inherit;
	}
	&--gentle {
		color: mix($color-highlight, $color-shadow, 80%);
		&:hover {
			color: mix($teemr-green, $color-highlight, 80%);
		}
	}
}

.anchor--main {
	text-decoration: underline;
}
