/*
Box

Important! Added 75px height to showcase box.

.box - Light brown background
.box--01 - Same as box
.box--02 - Lighter brown background
.box--03 - Moderately light brown background

markup:
<div style="height: 75px;" class="{$modifiers}">{$modifiers}</div>

Styleguide 3.10
*/

.box {
	&,
	&--01 {
		background: $color-structure--01;
	}
	&--02 {
		background: $color-structure--02;
	}
	&--03 {
		background: $color-structure--03;
	}
}
