/*
Button

.btn - Bland button with least amount of styling possible. Used as a base for button.
.btn.btn--theme - Button with theme styling.
.btn.btn--l - Full width, bland button.
.btn.btn--theme.btn--l - Full width, theme styled button.

markup:
<button class="{$modifiers}">{$modifiers} button tag</button>
<a class="{$modifiers}" href="javascript:void(0);">{$modifiers} a tag</a>
<p class="{$modifiers}">{$modifiers} p tag</p>
<input class="{$modifiers}" type="submit" value="{$modifiers} input tag" />
<span class="{$modifiers}">{$modifiers} span tag</span>

Styleguide 3.5
*/

.btn {
    display: inline-block;
    text-align: center;
    padding: rhythm() rhythm(3);
    background: none;
    border: none;
    margin: 0;
    &--l {
        width: 100%;
    }
    &--theme {
        border: 1px solid $color-theme;
    }
}

/* 
Pill

.pill--assist - Brown, rounded pill
.pill--social - Orange, rounded pill
.pill--growth - Green, rounded pill
.pill--trust - Blue, rounded pill
.pill.pill--l - Pill with double padding
.pill.pill--stretch - Full width pill

markup:
<a class="pill {$modifiers}" href="javascript:void(0);">I am a {$modifiers}</a>

Styleguide 3.5.1
*/

.pill {
	@extend %roboto-light;
	display: inline-block;
	padding: 0 rhythm(4);
	color: $color-theme;
	border: $border-thin solid $color-theme;
	border-radius: 2em;
	line-height: 2.5;
    text-align: center;
	&:hover {
		background: $color-theme;
		color: $white;
	}
    &--l {
        padding: 0 rhythm(8);
    }
    &--stretch {
        width: 100%;
    }
}

.pill--social {
	border-color: $color-social;
	color: $color-social;
	&:hover {
		background: $color-social;
	}	
}

.pill--growth {
	border-color: $color-growth;
	color: $color-growth;
	&:hover {
		background: $color-growth;
	}	
}

.pill--trust {
	border-color: $color-trust;
	color: $color-trust;
	&:hover {
		background: $color-trust;
	}	
}

.pill--assist {
	border-color: $color-assist;
	color: $color-assist;
	&:hover {
		background: $color-assist;
	}
}


/*
Pill with icon

markup:
<a class="pill pill-icon" href="javascript:void(0);">I am a pill</a>

Styleguide 3.5.1.1
*/

.pill-icon {
    &:before {
        content: "\fd43"; /* Placeholder icon */
        margin-left: rhythm(-1);
        padding-right: rhythm(1);
    }
}

/*
Switch

<a style="color: #19988B;" href="http://hawkins.io/2013/07/ember-toggle-switch/">Switch source</a>

.switch - Switch turned off
.switch.switch--on - Switch turned on

markup:
<i class="{$modifiers}"></i>

Styleguide 3.5.2
*/

.switch {
    display: inline-block;
    position: relative;
    width: 38px;
    height: 21px;
    background: mix($color-shadow, $color-highlight, 20%);
    cursor: pointer;
    &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 17px;
        height: 17px;
        background: mix($color-shadow, $color-highlight, 10%);
    }
    &--on {
        background: mix($teemr-green, $color-highlight, 40%);
        &:after {
            left: auto; /* Forcing icon into the correct position */
            right: 2px;
            background: mix($teemr-green, $color-highlight, 70%);
        }
    }
}
.switch, .switch:after {
	border-radius: 1em;
}
