/*
Button

.btn - Rounded pill-like button
.btn.btn--assist - Productive

markup:
<a class="{$modifiers}" href="javascript:void(0);">I am a {$modifiers}</a>

Styleguide 3.5
*/

.btn {
	@extend %roboto-light;
	display: inline-block;
	padding: 0 to-unit(28px);
	color: $color-theme;
	border: $border-thin solid mix($teemr-green, $color-shadow, 80%);
	border-radius: 2em;
	line-height: 2.5;
	&:hover {
		background: $color-theme;
		color: $white;
	}
}

.btn--assist {
	border-color: $color-assist;
	color: $color-assist;
}

.pill {}
