/*
Catch phrase

.catch-phrase - Catch phrase

markup:
<textarea class="{$modifiers} is-editable" placeholder="Add a catchy tag phrase, your motto, a poem or your favourite food..."></textarea>

Styleguide 3.13
*/

.catch-phrase {
	font-size: to-unit(20px);
	line-height: to-unit(rhythm(3), 1%, 20px);
}


@include breakpoint($gtsmall) {
	.catch-phrase {
		font-size: to-unit(24px);
		line-height: to-unit(rhythm(4), 1%, 24px);
	}
}

@include breakpoint($gtmedium) {
	.catch-phrase {
		font-size: to-unit(28px);
		line-height: to-unit(rhythm(5), 1%, 28px);
	}
}