/*
Form

.form - Form

markup:
<input class="{$modifiers}" placeholder="{$modifiers}" />

Styleguide 3.4
*/

.form {
	width: 100%;
	line-height: rhythm(4);
	border: 1px solid $color-structure--02;
	border-radius: $border-radius;
	padding: 0 rhythm();
}

.is-correct {
	& + .form {
		color: darkseagreen;
		border-color: darkseagreen;
	}
}

.is-false {
	& + .form {
		color: red;
		border-color: red;
	}
}


/*
Form large

.form.form--l - Large form element used for comments and textareas

markup:
<textarea class="{$modifiers}" placeholder="{$modifiers}" />

Styleguide 3.4.1
*/

.form--l {
	padding: rhythm(2) rhythm(3);
}