/*
Heading

.heading - Landingspage heading
.h-page - Page header
.h-paragraph  - Paragraph header

markup:
<p class="{$modifiers}">{$modifiers}</p>

Styleguide 3.2
*/

.heading {
	font-size: to-unit(28px);
	&--small {
		font-size: to-unit(21px);
	}
}

@include breakpoint($gt-medium-handheld) {
	.heading {
		font-size: to-unit(35px);
		line-height: rhythm(5);
		&--small {
			font-size: to-unit(28px);
			line-height: rhythm(4);
		}
	}
}
@include breakpoint($gt-large-handheld) {
	.heading {
		font-size: to-unit(49px);
		line-height: rhythm(9);
		&--small {
			font-size: to-unit(35px);
			line-height: rhythm(5);
		}
	}
}
@include breakpoint($gt-medium-desktop) {
	.heading {
		font-size: to-unit(64px);
		line-height: rhythm(12);
		&--small {
			font-size: to-unit(49px);
			line-height: rhythm(7);
		}
	}
}

.h-page {
	font-size: to-unit(24px);
	margin-bottom: rhythm(1);
}

.h-paragraph {
	font-size: to-unit(18px);
}

.h-paragraph,
.h-page {
	line-height: rhythm(5);
}

.h-poster {
	font-size: to-unit(36px);
	line-height: rhythm(6);
}
