/*
Icon

.icon - Default size
.icon.icon--s - Small size
.icon.icon--l - Large size
.icon.icon--reverse - Default size

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-star"></use></svg>
	<span class="icon__label">{$modifiers}</span>
</span>

Styleguide 3.9
*/

.icon {
	display: inline-block;
	font-size: px( 21px, 1em, 14px );
	line-height: 1;
	&__label,
	&__shape {
		float: left;
	}
	&__label {
		padding-left: .25em;
	}
	&--s {
		font-size: px( 18px, 1em, 14px );
	}
	&--l {
		font-size: px( 25px, 1em, 14px );
	}
	&--reverse &__label {
		padding-left: 0;
		padding-right: .25em;
	}
	&--reverse &__label,
	&--reverse &__shape {
		float: right;
	}
	&__label {
		display: inline-block;
		vertical-align: top;
		font-size: px( 14px, 1em, 21px );
		line-height: px( 21px, 1em, 14px );
	}
	&__shape {
		width: 1em;
		height: 1em;
		fill: $white;
		stroke: $color-structure--03;
		stroke-width: 1;
		.is-active &,
		&.is-active {
				fill: url(/#gradient);
				stroke: url(/#gradient);
		}
		.is-disabled &,
		&.is-disabled {
			fill: $color-structure--03;
		}
	}
}

.icon + .icon {
    margin-left: rhythm(1.5);
}

/*
Icon

#icon-comment - Comment cloud
#icon-facebook - Facebook (follow)
#icon-heart - Heart (like)
#icon-loop - Loop (search)
#icon-pen - Pen (edit)
#icon-pin - Pin (sticky)
#icon-rows - Rows
#icon-save - Save
#icon-send - Send
#icon-star - Star (follow)
#icon-tiles - Tiles
#icon-twitter - Twitter

markup:
<button class="reset icon">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="{$modifiers}"></use></svg>
	<span class="icon__label">{$modifiers}</span>
</button>

Styleguide 3.9.1
*/

/*
Icon States

.icon - Regular, inactive state
.icon.is-disabled - Disabled state
.icon.icon--reverse.is-active - Active state

markup:
<button class="reset {$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-star"></use></svg>
	<span class="icon__label">Pin</span>
</button>

Styleguide 3.9.2
*/

/*
Used icons

Styleguide 3.9.3
*/

/*
Pen

markup:

Styleguide 3.9.3.1
*/

/*
Pen with text

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.icon.icon--reverse - 4
.icon.icon--s.icon--reverse - 5
.icon.icon--l.icon--reverse - 6
.txt--meta.icon - 7
.txt--meta.icon.icon--s - 8
.txt--meta.icon.icon--l - 9
.txt--meta.icon.icon--reverse - 10
.txt--meta.icon.icon--s.icon--reverse - 11
.txt--meta.icon.icon--l.icon--reverse - 12
.is-disabled.icon - 13
.is-disabled.icon.icon--s - 14
.is-disabled.icon.icon--l - 15
.is-disabled.icon.icon--reverse - 16
.is-disabled.icon.icon--s.icon--reverse - 17
.is-disabled.icon.icon--l.icon--reverse - 18
.is-disabled.txt--meta.icon - 19
.is-disabled.txt--meta.icon.icon--s - 20
.is-disabled.txt--meta.icon.icon--l - 21
.is-disabled.txt--meta.icon.icon--reverse - 22
.is-disabled.txt--meta.icon.icon--s.icon--reverse - 23
.is-disabled.txt--meta.icon.icon--l.icon--reverse - 24
.is-active.icon - 25
.is-active.icon.icon--s - 26
.is-active.icon.icon--l - 27
.is-active.icon.icon--reverse - 28
.is-active.icon.icon--s.icon--reverse - 29
.is-active.icon.icon--l.icon--reverse - 30
.is-active.txt--meta.icon - 31
.is-active.txt--meta.icon.icon--s - 32
.is-active.txt--meta.icon.icon--l - 33
.is-active.txt--meta.icon.icon--reverse - 34
.is-active.txt--meta.icon.icon--s.icon--reverse - 35
.is-active.txt--meta.icon.icon--l.icon--reverse - 36

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-pen"></use></svg>
	<span class="icon__label">104</span>
</span>

Styleguide 3.9.3.1.1
*/

/*
Pen without text

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.is-disabled.icon - 4
.is-disabled.icon.icon--s - 5
.is-disabled.icon.icon--l - 6
.is-active.icon - 7
.is-active.icon.icon--s - 8
.is-active.icon.icon--l - 9

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-pen"></use></svg>
</span>

Styleguide 3.9.3.1.2
*/

/*
Heart

markup:

Styleguide 3.9.3.2
*/

/*
Hearth with text

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.icon.icon--reverse - 4
.icon.icon--s.icon--reverse - 5
.icon.icon--l.icon--reverse - 6
.txt--meta.icon - 7
.txt--meta.icon.icon--s - 8
.txt--meta.icon.icon--l - 9
.txt--meta.icon.icon--reverse - 10
.txt--meta.icon.icon--s.icon--reverse - 11
.txt--meta.icon.icon--l.icon--reverse - 12
.is-disabled.icon - 13
.is-disabled.icon.icon--s - 14
.is-disabled.icon.icon--l - 15
.is-disabled.icon.icon--reverse - 16
.is-disabled.icon.icon--s.icon--reverse - 17
.is-disabled.icon.icon--l.icon--reverse - 18
.is-disabled.txt--meta.icon - 19
.is-disabled.txt--meta.icon.icon--s - 20
.is-disabled.txt--meta.icon.icon--l - 21
.is-disabled.txt--meta.icon.icon--reverse - 22
.is-disabled.txt--meta.icon.icon--s.icon--reverse - 23
.is-disabled.txt--meta.icon.icon--l.icon--reverse - 24
.is-active.icon - 25
.is-active.icon.icon--s - 26
.is-active.icon.icon--l - 27
.is-active.icon.icon--reverse - 28
.is-active.icon.icon--s.icon--reverse - 29
.is-active.icon.icon--l.icon--reverse - 30
.is-active.txt--meta.icon - 31
.is-active.txt--meta.icon.icon--s - 32
.is-active.txt--meta.icon.icon--l - 33
.is-active.txt--meta.icon.icon--reverse - 34
.is-active.txt--meta.icon.icon--s.icon--reverse - 35
.is-active.txt--meta.icon.icon--l.icon--reverse - 36

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-heart"></use></svg>
	<span class="icon__label">104</span>
</span>

Styleguide 3.9.3.2.1
*/

/*
Heart without text

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.is-disabled.icon - 4
.is-disabled.icon.icon--s - 5
.is-disabled.icon.icon--l - 6
.is-active.icon - 7
.is-active.icon.icon--s - 8
.is-active.icon.icon--l - 9

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-heart"></use></svg>
</span>

Styleguide 3.9.3.2.2
*/

/*
Star

markup:

Styleguide 3.9.3.3
*/

/*
Star with text

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.icon.icon--reverse - 4
.icon.icon--s.icon--reverse - 5
.icon.icon--l.icon--reverse - 6
.txt--meta.icon - 7
.txt--meta.icon.icon--s - 8
.txt--meta.icon.icon--l - 9
.txt--meta.icon.icon--reverse - 10
.txt--meta.icon.icon--s.icon--reverse - 11
.txt--meta.icon.icon--l.icon--reverse - 12
.is-disabled.icon - 13
.is-disabled.icon.icon--s - 14
.is-disabled.icon.icon--l - 15
.is-disabled.icon.icon--reverse - 16
.is-disabled.icon.icon--s.icon--reverse - 17
.is-disabled.icon.icon--l.icon--reverse - 18
.is-disabled.txt--meta.icon - 19
.is-disabled.txt--meta.icon.icon--s - 20
.is-disabled.txt--meta.icon.icon--l - 21
.is-disabled.txt--meta.icon.icon--reverse - 22
.is-disabled.txt--meta.icon.icon--s.icon--reverse - 23
.is-disabled.txt--meta.icon.icon--l.icon--reverse - 24
.is-active.icon - 25
.is-active.icon.icon--s - 26
.is-active.icon.icon--l - 27
.is-active.icon.icon--reverse - 28
.is-active.icon.icon--s.icon--reverse - 29
.is-active.icon.icon--l.icon--reverse - 30
.is-active.txt--meta.icon - 31
.is-active.txt--meta.icon.icon--s - 32
.is-active.txt--meta.icon.icon--l - 33
.is-active.txt--meta.icon.icon--reverse - 34
.is-active.txt--meta.icon.icon--s.icon--reverse - 35
.is-active.txt--meta.icon.icon--l.icon--reverse - 36

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-star"></use></svg>
	<span class="icon__label">104</span>
</span>

Styleguide 3.9.3.3.1
*/

/*
Star without text

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.is-disabled.icon - 4
.is-disabled.icon.icon--s - 5
.is-disabled.icon.icon--l - 6
.is-active.icon - 7
.is-active.icon.icon--s - 8
.is-active.icon.icon--l - 9

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-star"></use></svg>
</span>

Styleguide 3.9.3.3.2
*/


/*
Comment

Styleguide 3.9.3.4
*/

/*
Comment bubble with text

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.icon.icon--reverse - 4
.icon.icon--s.icon--reverse - 5
.icon.icon--l.icon--reverse - 6
.txt--meta.icon - 7
.txt--meta.icon.icon--s - 8
.txt--meta.icon.icon--l - 9
.txt--meta.icon.icon--reverse - 10
.txt--meta.icon.icon--s.icon--reverse - 11
.txt--meta.icon.icon--l.icon--reverse - 12
.is-disabled.icon - 13
.is-disabled.icon.icon--s - 14
.is-disabled.icon.icon--l - 15
.is-disabled.icon.icon--reverse - 16
.is-disabled.icon.icon--s.icon--reverse - 17
.is-disabled.icon.icon--l.icon--reverse - 18
.is-disabled.txt--meta.icon - 19
.is-disabled.txt--meta.icon.icon--s - 20
.is-disabled.txt--meta.icon.icon--l - 21
.is-disabled.txt--meta.icon.icon--reverse - 22
.is-disabled.txt--meta.icon.icon--s.icon--reverse - 23
.is-disabled.txt--meta.icon.icon--l.icon--reverse - 24
.is-active.icon - 25
.is-active.icon.icon--s - 26
.is-active.icon.icon--l - 27
.is-active.icon.icon--reverse - 28
.is-active.icon.icon--s.icon--reverse - 29
.is-active.icon.icon--l.icon--reverse - 30
.is-active.txt--meta.icon - 31
.is-active.txt--meta.icon.icon--s - 32
.is-active.txt--meta.icon.icon--l - 33
.is-active.txt--meta.icon.icon--reverse - 34
.is-active.txt--meta.icon.icon--s.icon--reverse - 35
.is-active.txt--meta.icon.icon--l.icon--reverse - 36

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-comment"></use></svg>
	<span class="icon__label">104</span>
</span>

Styleguide 3.9.3.4.1
*/

/*
Comment bubble without text

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.is-disabled.icon - 4
.is-disabled.icon.icon--s - 5
.is-disabled.icon.icon--l - 6
.is-active.icon - 7
.is-active.icon.icon--s - 8
.is-active.icon.icon--l - 9

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-comment"></use></svg>
</span>

Styleguide 3.9.3.4.2
*/

/*
Loop

markup:

Styleguide 3.9.3.5
*/

/*
Loop

.icon - 1
.icon.icon--s - 2
.icon.icon--l - 3
.is-disabled.icon - 4
.is-disabled.icon.icon--s - 5
.is-disabled.icon.icon--l - 6
.is-active.icon - 7
.is-active.icon.icon--s - 8
.is-active.icon.icon--l - 9

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-loop"></use></svg>
</span>

Styleguide 3.9.3.5.1
*/
