/*
Icon

.icon - Default size
.icon.icon--s - Small size
.icon.icon--l - Large size
.icon.icon--reverse - Default size

markup:
<span class="{$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-star"></use></svg>
	<span class="icon__label">{$modifiers}</span>
</span>

Styleguide 3.9
*/

.icon {
	display: inline-block;
	font-size: px( 21px, 1em, 14px );
	line-height: 1;
	&__label,
	&__shape {
		float: left;
	}
	&__label {
		padding-left: .5em;
	}
	&--s {
		font-size: px( 18px, 1em, 14px );
	}
	&--l {
		font-size: px( 25px, 1em, 14px );
	}
	&--reverse &__label {
		padding-left: 0;
		padding-right: .5em;
	}
	&--reverse &__label,
	&--reverse &__shape {
		float: right;
	}
	&__label {
		display: inline-block;
		vertical-align: top;
		font-size: px( 14px, 1em, 21px );
		line-height: px( 21px, 1em, 14px );
	}
	&__shape {
		width: 1em;
		height: 1em;
		fill: $white;
		stroke: $color-structure--03;
		stroke-width: 1;
		.is-active &,
		&.is-active {
			fill: url(/#gradient);
			stroke: url(/#gradient);
		}
		.is-disabled &,
		&.is-disabled {
			fill: $color-structure--03;
		}
	}
	.txt--inverse & {
		color: $white;
	}
}

.icon + .icon {
    margin-left: rhythm(1.5);
}

/*
Icon

#icon-comment - Comment cloud
#icon-facebook - Facebook (follow)
#icon-heart - Heart (like)
#icon-loop - Loop (search)
#icon-pen - Pen (edit)
#icon-pin - Pin (sticky)
#icon-rows - Rows
#icon-save - Save
#icon-send - Send
#icon-star - Star (follow)
#icon-tiles - Tiles
#icon-twitter - Twitter

markup:
<button class="reset icon">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="{$modifiers}"></use></svg>
	<span class="icon__label">{$modifiers}</span>
</button>

Styleguide 3.9.1
*/

/*
Icon States

.icon - Regular, inactive state
.icon.is-disabled - Disabled state
.icon.icon--reverse.is-active - Active state

markup:
<button class="reset {$modifiers}">
	<svg class="icon__shape" viewBox="0 0 21 21"><use xlink:href="#icon-star"></use></svg>
	<span class="icon__label">Pin</span>
</button>

Styleguide 3.9.2
*/
