/*
Label

.label - Grey label

markup:
<a class="{$modifiers}" href="javascript:void(0)">Urban Photography</a>
<a class="{$modifiers}" href="javascript:void(0)">City Architecture</a>
<a class="{$modifiers}" href="javascript:void(0)">Skyscrapers</a>

Styleguide 3.7
*/

.label {
	display: inline-block;
	padding: 0 rhythm(2);
	margin: 0 3px;
	background: $color-structure--01;
	color: $black;	
	border-radius: rhythm(3);
	font-size: $font-size--xs;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		color: inherit;
	}
}

/* Remove border from button tag */
button.label {
	border: 0;
}
