/*
Text

.txt--xxxs - Extra, extra, extra small text (9px)
.txt--xxs - Extra, extra small text (10px)
.txt--xs - Extra small text (12px)
.txt--s - Small text (13px)
.txt--l - Large text (17px)
.txt--xl - Extra large text (24px)
.txt--xxl - Extra, extra large text (36px)
.txt--xxxl - Extra, extra, extra large text (48px)
.txt--whisper - Whisper text
.txt--meta - Meta text

markup:
<div class="{$modifiers}">{$modifiers}</div>

Styleguide 3.3
*/

.txt--xxxs {
	font-size: $font-size--xxxs;
}
.txt--xxs {
	font-size: $font-size--xxs;
}
.txt--xs {
	font-size: $font-size--xs;
}
.txt--s {
	font-size: $font-size--s;
}
.txt--l {
	font-size: $font-size--l;
}
.txt--xl {
	font-size: $font-size--xl;
}
.txt--xxl {
	font-size: $font-size--xxl;
}
.txt--xxxl {
	font-size: $font-size--xxxl;
}

.txt--xxxs,
.txt--xxs,
.txt--xs,
.txt--s,
.txt--l,
.txt--xl,
.txt--xxl,
.txt--xxxl {
	line-height: 1.5;
}

.txt--whisper {
	color: $color-structure--02;
	font-size: $font-size--xs;
}

.txt--inverse.txt--inverse {
	color: #FFF;
	& a,
	a {
		color: mix($color-anchor, $cyan, 70%);
	}
}

.txt--meta {
	color: $color-structure--03;
	@include font-family($roboto-regular);
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}
